{% extends "template.html" %}
{% block scripts %}
  <style>
    body {
      background-image: url('../static/custom/img/background.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}
  <div>
    <img
      src="../static/custom/img/titles/playnow.svg"
      alt="name of the website which is chess but better"
      width="45%"
      draggable="false"/>
  </div>
  <div class="mt-5 pt-5">
    <div class="btn-group-vertical">
      <a href="{{ url_for('game_pass_and_play') }}" class="btn btn-outline-dark btn-xlarge fw-bold">Pass and Play</a>
      <a href="{{ url_for('game_ai') }}" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-dark btn-xlarge fw-bold">vs Computer</a>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choose difficulty level</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="btn-group-vertical">
            <a href="{{ url_for('game_ai', depth=1) }}" class="btn btn-info fw-bold">Easy</a>
            <a href="{{ url_for('game_ai', depth=2) }}" class="btn btn-success fw-bold">Medium</a>
            <a href="{{ url_for('game_ai', depth=3) }}" class="btn btn-warning fw-bold">Hard</a>
            <a href="{{ url_for('game_ai', depth=4) }}" class="btn btn-danger fw-bold">Very Hard</a>
          </div>
        </div>
        <div class="modal-footer">
          <small class="text-start">Note: It takes around 30-40 seconds for the AI to make move on
            <strong>Very Hard</strong>
            difficulty
          </small>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
  </script>
{% endblock %}
