{% extends "template.html" %}
{% block content %}
  <img class="svg-chessboard" src="../static/custom/img/chessboard_tilted.svg" alt=""/>

  <div class="container">
    <!-- Post method as we are posting the form data to the register route -->
    <!-- action is empty which will post the information to the same route we're currently on -->
    <img
      src="../static/custom/img/titles/create_account.svg"
      alt="name of the website which is chess but better"
      class="mb-1"
      width="60%"
      draggable="false"/> <form
      method="POST" action="" class="container form-section" style="width: 40vw;">
      <!-- hidden_tag() adds a CSRF token which adds protection -->
      {{ form.hidden_tag() }}
      <fieldset class="text-start">
        <div class="mb-3 d-flex justify-content-between flex-row">
          <div class="w-100">
            {{ form.firstname.label(class="form-label fw-bold") }}

            {% if form.firstname.errors %}` {{ form.firstname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.firstname.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.firstname(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="w-100">
            {{ form.surname.label(class="form-label fw-bold") }}

            {% if form.surname.errors %}
              {{ form.surname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.surname.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.surname(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="mb-3">
          {{ form.username.label(class="form-label fw-bold") }}

          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ form.email.label(class="form-label fw-bold") }}

          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="mb-3 d-flex justify-content-between flex-row">
          <div class="w-100">
            {{ form.password.label(class="form-label fw-bold") }}

            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="w-100">
            {{ form.confirm_password.label(class="form-label fw-bold") }}

            {% if form.confirm_password.errors %}
              {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
          </div>

        </div>
      </fieldset>
      <div>{{ form.submit(class="btn btn-outline-dark btn-lg fw-bold mb-1 px-5") }}</div>
      <small class="text-muted">
        Already have an account?
        <a href="{{ url_for('login') }}" class="text-decoration-none fw-bold">Login here!</a>
      </small>
    </form>

  </div>
{% endblock content %}
